html, body{
    padding:0;
    margin:0;
}

body {
    background-image: url("img/bg.jpg");
    background-size: contain;
}

.layout-center-wrapper{
    width: 960px;
    min-height:50px;
    margin:0 auto;
    //background:#27ae60;
}
.header {
    padding: 29px 0;
    height: 72px;
    background: black;
}

.header a {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}

.header ul{
    list-style: none;
}
.header ul li {
    float: left;
    margin-right: 42px;
}
.header ul li:last-child {
    margin-right: 0;
}

.account-menu {
    float: right;
    margin-right: 32px;
}
.logo{
    width:250px;
    min-height:50px;
    margin:50px auto;
    background:#f39c12;
    text-align:center;
}
.features{
    margin:50px 0;
    padding:0;
    list-style:none;
}
.features:after{
    content:"";
    display:table;
    clear:both;
}
.features li{
    float:left;
    width: 300px;
    min-height:50px;
    margin-right:10px;
    margin-left: 10px;
    text-align: center;
    //background:#f39c12;
}
.features li:last-child{
    margin-right:0;
}
.index-section{
    margin:30px 0;
    padding:50px 0;
    min-height:50px;
    background:#f39c12;
}
.index-section:after{
    content:"";
    display:table;
    clear:both;
}
.index-left-column{
    float:left;
    width:210px;
    margin-left:40px;
    min-height:100px;
    background:#d35400;
}
.index-right-column{
    float:right;
    width:210px;
    margin-right:40px;
    min-height:100px;
    background:#c0392b;
}
.footer{
    margin-top:60px;
    padding:50px 0;
    background:#252525;
}